.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 22, 22, 0.7);
    height: 15vh;
    margin-bottom: 10vh;
}

.page-title {
    color: white;
}

.card-header {
    border-bottom: none;
}

.list-group-item {
    color: black;
}